{% extends "base.html" %}

{% block links %}
<style>
.flex-container {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    margin: 20px;
}
</style>
{% endblock %}

{% block content %}
<div class="flex-container">
    <h1>Изберете какви данни бихте искали да видите:</h1>
    <form action="/" method="POST"> 
        <div class="button-container">
            <button type="submit" value="main.charts_range" name="type" class="btn btn-primary btn-lg">Данни в период</button>
            <button type="submit" value="main.charts_day" name="type" class="btn btn-primary btn-lg">Еднодневни данни</button>
        </div>
    </form>
</div>
{% endblock %}
